<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" /> <!-- 필수, java-DB 간의 표기 다르므로 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<!-- 별칭 설정 -->
		<package name="com.yedam.ekn.users.service" />
	</typeAliases>
	<typeHandlers>
		<!--java.sql.Date.Timestamp를 java.util.Date 형으로 변환 -->
		<typeHandler javaType="java.sql.Date"
			handler="org.apache.ibatis.type.DateTypeHandler" />
	</typeHandlers>
</configuration>